@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 10vh;
    max-width: 1200px;
    margin: auto;
}

.nav {
    display: flex;
    column-gap: 35px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.nav a {
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 47px;
}

.logo,
.phone,
.nav a {
    cursor: pointer;
}

.logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.6vw;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}


/* banner */

.banner {
    display: flex;
    height: 85vh;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

.left {
    padding-left: 160px;
    background-color: #6FC3FF;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 75px;
    text-transform: uppercase;
    color: #000000;
    max-width: 817px;
    margin: 20vh 50px 0 0;
}

.claim {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10vh;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.round {
    background-color: #FEEB62;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    width: 53px;
    height: 53px;
}


.round:after {
    position: absolute;
    top: 22px;
    left: 18px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(225deg);
}

.carousel-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.carousel-vertical img {
    height: 20vh;
    width: 20vh;
}



/* cases */
.containerCases {
    max-width: 1200px;
    margin: auto;
}

.cases {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 77px;
    overflow: hidden;
    margin-bottom: 217px;
}

.button-standart {
    background-color: #FEEB62;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #001E36;
    border: none;
    padding: 10px 0;
    width: 345px;
    cursor: pointer;
}

.button-case {
    margin: 157px 0 74px 147px;
}

.img-case {
    width: 300px;
    height: 320px;
    cursor: pointer;
}

.case-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27.4883px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    width: 300px;
}

/* services */
.servicesContainer {
    background-color: #6FC3FF;
}

.button-service {
    margin: 64px 0 167px 183px;
}

.services {
    padding-bottom: 259px;
    margin: 0 auto;
    max-width: 1200px;
}

.list {
    display: flex;
    column-gap: 65px;
    align-items: center;
    justify-content: center;
}

.card {
    background: #FFFFFF;
    box-shadow: 16.0568px 16.0568px 12.3514px -2.47027px rgba(0, 0, 0, 0.25);
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
}

.name-service {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25.6432px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 50px;
}

.text-service {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16.7027px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 0 40px;
    margin-bottom: 23px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25.6432px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.round-service {
    background-color: #FEEB62;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    width: 65px;
    height: 65px;
    margin-left: 20px;
}


.round-service:after {
    position: absolute;
    top: 25px;
    left: 25px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(225deg);
}



/* blog */

.blog {
    padding: 147px 0 236px;
    max-width: 1200px;
    margin: auto;
}

.button-blog {
    margin-left: 178px;
    margin-bottom: 91px;
}

.card-blog {
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 15.4532px 15.4532px 11.8871px -2.37742px rgba(0, 0, 0, 0.25);
    position: relative;
}

.cover {
    width: 100%;
    cursor: pointer;
}

.name-blog {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30.2482px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
}

.text-blog {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26.7952px;
    line-height: 36px;
    text-transform: capitalize;
    color: #000000;
}

.info-blog,
.read-more {
    margin-left: 20px;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.round-blog {
    background-color: #FEEB62;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    width: 65px;
    height: 65px;
    margin-left: 20px;
}


.round-blog:after {
    position: absolute;
    top: 25px;
    left: 25px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(225deg);
}


/* footer */
.containerFooter {
    background-color: #6FC3FF;
}

footer {
    padding: 100px 0 168px 0;
    display: flex;
    justify-content: center;
    column-gap: 145px;
    max-width: 1200px;
    margin: auto;
}

.block-footer {
    display: flex;
    align-items: center;
}


.block-footer img {
    width: 55px;
}

.block-footer a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #F5F5F5;
    margin-left: 15px;

}

.block-bottom {
    margin-top: 22px;
}

.footer-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #000000;
    max-width: 500px;
    margin-bottom: 286px;
}

.icons {
    margin-top: 47px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.icons img {
    cursor: pointer;
}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;
    color: #000000;
    max-width: 756.26px;
    padding-top: 56px;
}

.right-column {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1.50949px solid #000000;
    height: 110px;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;
    color: #000000;
}

input {
    font-size: 36px;
    padding-left: 20px;
}

.block-claim {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 52px;
    cursor: pointer;
}

.claim-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.round-footer {
    background-color: #FEEB62;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    width: 53px;
    height: 53px;
    margin-left: 20px;
}


.round-footer:after {
    position: absolute;
    top: 20px;
    left: 20px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(225deg);
}


/* modal */


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* slider */

.slick-list {
    overflow: hidden;
    margin-left: 5vw;
}

.slider .slick-track,
.slider1 .slick-track,
.slider3 .slick-track {
    display: flex;
}


.arrows,
.arrowsBlog,
.arrowsservices {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.slick-arrow {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 0;
    cursor: pointer;
}

.slick-arrow.slick-next {
    background-image: url(./images/right.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.slick-arrow.slick-prev {
    background-image: url(./images/left.svg);
    background-size: contain;
    background-repeat: no-repeat;

}


/* menu */

.menu-btn {
    display: none;
}


@media (max-width: 1500px) {
    .left {
        padding-left: 100px;
    }

    .slick-list {
        margin-left: 4vw;
    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
        column-gap: 105px;
    }

    .right-column {
        max-width: 550px;
    }

    .more {
        font-size: 20px;
    }

    .round-blog {
        width: 45px;
        height: 45px;
    }

    .round-blog:after {
        top: 15px;
        left: 15px;
    }
}


@media (max-width: 1250px) {
    .title {
        max-width: 480px;
    }

    .services,
    footer,
    .blog,
    .containerCases,
    header,
    .banner {
        max-width: 800px;
    }

    .card,
    .card-blog {
        width: 230px;
    }

    .block-button {
        display: flex;
        justify-content: center;
    }

    .button-service,
    .button-case,
    .button-blog {
        margin-left: 0;
    }

    .img-case {
        width: 230px;
        height: 280px;
    }
    .case-name {
        width: 230px;
    }
}

@media (max-width: 1150px) {

    .more {
        font-size: 18px;
    }

}

@media (max-width: 1200px) {

    footer {
        column-gap: 10px;
    }

    .name-blog {
        font-size: 30px;
    }

    .subtitle {
        font-size: 30px;
        line-height: 36px;
    }

    .right-column {
        max-width: 300px;
    }

    .footer-title {
        max-width: 300px;
        font-size: 54px;
    }

    footer {
        justify-content: space-between;
    }

}

@media (max-width: 1000px) {
    .logo {
        font-size: 54px;
    }

    .phone {
        font-size: 28px;
    }

    .nav {
        font-size: 34px;
    }

    .card,
    .card-blog {
        width: 30vw;
    }



    .slick-list {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .img-case {
        width: 30vw;
        height: 35vw;
    }
.case-name {
    width: 30vw;
}
}

@media (max-width: 880px) {
    .left {
        padding-left: 60px;
    }

    .title {
        max-width: 350px;
    }

}

@media (max-width: 850px) {
    .nav {
        font-size: 30px;
    }

    .claim-footer {
        font-size: 28px;
    }

}


@media (max-width: 800px) {

    .card,
    .card-blog {
        width: 45vw;
    }

    .img-case {
        width: 45vw;
        height: 55vw;
    }
    .case-name {
        width: 45vw;
    }
}

@media (max-width: 797px) {
    .claim-footer {
        font-size: 25px;
    }

    .logo {
        font-size: 34px;
    }

    .nav {
        font-size: 25px;
    }

    .block-bottom a,
    .block-footer a {
        font-size: 30px;
    }

    .icons img {
        width: 55px;
    }

    .block-footer img {
        width: 50px;
    }

    input {
        padding-left: 10px;
    }
}





@media (max-width: 700px) {

    .nav,
    .phone {
        font-size: 20px;
    }

    .logo {
        font-size: 24px;
    }

    .title {
        font-size: 24px;
        max-width: 250px;
        line-height: 35px;
    }

    .claim {
        font-size: 26px;
    }

    .carousel-vertical .slider-item img {
        width: 143px;
    }

    .footer-title {
        font-size: 19.6279px;
        line-height: 23px;
        margin: 0 0 47px 0;
    }

    .block-footer img {
        width: 15px;
    }

    .block-footer a {
        font-size: 8.16352px;
        line-height: 10px;
    }

    .icons img {
        width: 17.66px;
    }

    .icons {
        column-gap: 6px;
    }

    .subtitle {
        font-size: 11px;
        line-height: 13px;
        padding: 0;
        margin: 0;
        max-width: 200px;
    }

    input {
        height: 17.86px;
        margin-top: 25px;
        width: 200px;
        padding: 10px;
    }

    input::placeholder {
        font-size: 10.7954px;
        line-height: 13px;
    }

    .claim-footer {
        font-size: 11.1553px;
        line-height: 13px;
    }

    .block-claim {
        margin-top: 14px;
    }

    .round-footer {
        width: 18.48px;
        height: 18.48px;
    }

    .round-footer:after {
        top: 5px;
        left: 5px;
        width: 5px;
        height: 5px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }

    footer {
        padding: 60px 32px 20px 30px;
    }
}







@media (max-width: 550px) {

    .slider .slick-list,
    .slider1 .slick-list,
    .slider3 .slick-list {
        margin: auto;
        max-width: 300px;
    }

    .logo {
        font-size: 18.3775px;
        line-height: 22px;
    }

    .nav,
    .phone {
        display: none;
    }

    .title {
        max-width: 224px;
        font-size: 17.5722px;
        line-height: 21px;
        padding-top: 116px;
        padding-left: 29px;
        margin: 0;
    }

    .left {
        padding-left: 0;
    }

    .claim {
        font-size: 13.1243px;
        line-height: 15px;
        margin: 22px 0 89px 29px;
    }

    .round {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 20px;
        left: 150px;
        margin: 0;
    }

    .button {
        position: relative;
    }

    .round::after {
        top: 6px;
        left: 4px;
        width: 6px;
        height: 6px;
    }

    .button-case {
        margin: 39px 0 50px 0;
        font-size: 13.0615px;
        line-height: 15px;
        width: 119.73px;
    }



    .case-name {
        font-size: 8.59812px;
        line-height: 10px;
        color: #000000;
    }

    .img-case {
        width: 140.76px;
        height: 170.41px;
    }

    .case-name {
        margin-bottom: 30px;
        width:  140.76px ;
    }

    .button-service {
        width: 112.11px;
        margin: 20px 0 27px 0;
        font-size: 13.0615px;
        line-height: 15px;
    }

    .name-service {
        font-size: 9.56958px;
        line-height: 11px;
        margin: 0;
        padding-top: 10px;
    }

    .text-service {
        font-size: 7.97465px;
        line-height: 9px;
    }

    .card {
        width: 142.86px;
    }

    .more {
        font-size: 9.56958px;
        line-height: 11px;
        margin: 10px 0 0 0;
    }

    .flex {
        position: relative;
    }

    .services {
        padding-bottom: 18px;
    }

    .blog {
        padding-top: 21px;
        padding-bottom: 36px;
    }

    .button-blog {
        width: 112.11px;
        font-size: 13.0615px;
        line-height: 15px;
        margin: 0 0 52px 0;
    }

    .card-blog {
        width: 144.3px;
    }

    .name-blog {
        font-size: 12.4889px;
        line-height: 15px;
    }

    .text-blog {
        font-size: 11.2297px;
        line-height: 13px;
    }

    .round-blog {
        width: 21px;
        height: 21px;
        top: 4px;
    }

    .round-blog:after {
        top: 6px;
        left: 6px;
        width: 7px;
        height: 7px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }

    .menu-btn {
        display: block;
    }
}

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6FC3FF;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.menu {
    position: fixed;
    z-index: 1000;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

ul {
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17.97465px;
    line-height: 29px;
}

.menu.active {
    transform: translateX(0);
}

.menu li {
    list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}